:root {
  --container-width_desk: 1280px;
  --container-padding: 16px;
  --container-padding_tablet: 64px;
  --container-padding_desk: 32px;

  /* Основной цвет */
  --primary-color: #1b2741;

  --secondary-color: #b3ebf1;

  --bright-secondary-color: #cdf2f6;

  --fonts-stack: "RussoOne", sans-serif;
}
