<ui-modal modalTitle="Авторизация">
    <h3 class="login-modal__second-title">Введите email/логин и пароль</h3>

    <!-- Форма для авторизации -->
    <form [formGroup]="loginForm" class="login-modal__form">
        <div class="login-modal__form-group">
            <div class="login-modal__form-input-container">
                <input class="login-modal__form-input" id="email" formControlName="email" type="text" placeholder=" " />
                <label class="login-modal__form-label" for="email">Email/Логин</label>
            </div>
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text_error">
                Некорректный email или логин
            </div>
        </div>

        <div class="login-modal__form-group">
            <div class="login-modal__form-input-container">
                <input class="login-modal__form-input" id="password" formControlName="password" type="password" placeholder=" " />
                <label class="login-modal__form-label" for="password">Пароль</label>
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text_error">
                Пароль обязателен
            </div>
        </div>
    </form>

    <ng-container actions>
        <ui-button [buttonData]="closeButton" [callbackFunction]="closeDialog"></ui-button>
        <ui-button [buttonData]="loginButton" [callbackFunction]="submitForm"></ui-button>
    </ng-container>
</ui-modal>
