<ng-container [ngSwitch]="buttonData?.type">
  <ng-container *ngSwitchCase="'link'">
    <a routerLink="{{ buttonData?.link }}">{{ buttonData?.text }}</a>
  </ng-container>
  <ng-container *ngSwitchCase="'button'">
    <button
      class="ui-button__button"
      [ngClass]="{
          'ui-button__button_primary': buttonData?.appearance === UiButtonAppearance.primary,
          'ui-button__button_secondary': buttonData?.appearance === UiButtonAppearance.secondary,
        }"
      (click)="triggerParentFunction()"
    >
      {{ buttonData?.text }}
    </button>
  </ng-container>
</ng-container>
