<section class="section-hero">
    <div class="section-hero__container container">
        <div class="section-hero__left-content">
            <h1 class="section-hero__title">
                JasWork 
            </h1>
            <p class="section-hero__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eum consequatur blanditiis doloremque repellat delectus vel ratione ut cumque aliquid, amet omnis facere obcaecati iusto odit ipsum excepturi beatae officia.
            </p>
        </div>
        <app-login-form></app-login-form>
    </div>
</section>